<footer>
			<div class="container">
				<div class="row" style="margin-bottom: 20px;">
					<div class="col-md-2 -col-xs-12 text-center">
						<a href="/"><img src="{{ url_for('static', filename='res/GUETMain.jpg')}}" class="img-responsive hidden-xs hidden-sm"/></a>
						<p class='footer-h1 visible-xs visible-sm'>桂林电子科技大学</p>
					</div>
					<div class="col-md-8 col-xs-12 footer-main">
						<div class="row">
							<div class="col-md-3 col-xs-6 text-center">
								<p class="footer-title">产品服务</p>
								<hr class="redshort" />
								<ul class="list-unstyled">
									<li><a href="#">智能客服</a></li>
									<li><a href="#">人机交互</a></li>
									<li><a href="#">聊天机器人</a></li>
								</ul>
							</div>
							<div class="col-md-3 col-xs-6 text-center">
								<p class="footer-title">在线体验</p>
								<hr class="redshort" />
								<ul class="list-unstyled">
									<li><a href="text_analyzer">文本分析</a></li>
                                    <li><a href="text_similarity">语义比较</a></li>
									<li><a href="machine_compose">机器创作</a></li>
									<li><a href="factual_qa">智能问答</a></li>
									<li><a href="Knowledge_map">知识图谱</a></li>
								</ul>
							</div>
							<div class="col-md-3 col-xs-6 text-center">
								<p class="footer-title">资讯|技术</p>
								<hr class="redshort" />
								<ul class="list-unstyled">
									<li><a href="#">学校新闻</a></li>
									<li><a href="#">行业资讯</a></li>
									<li><a href="#">技术分享</a></li>
								</ul>
							</div>
							<div class="col-md-3 col-xs-6 text-center">
							    <p class="footer-title">帮助中心</p>
								<hr class="redshort" />
								<ul class="list-unstyled">
									<li><a href="#">帮助中心</a></li>
								</ul>
								<p class="footer-title">关于我们</p>
								<hr class="redshort" />
								<ul class="list-unstyled">
									<li><a href="#">学校简介</a></li>
									<li><a href="#">联系我们</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<p class="text-center">Copyright @桂林电子科技大学版权所有</p>
					</div>
				</div>
			</div>
		</footer>