<!DOCTYPE HTML>
<html class="no-js">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>桂林电子科技大学创新驱动二</title>
    <meta name="keywords" content="自然语言处理,智能客服,NLP,NLU,文本挖掘,文本分类,语义分析,语义识别,意图识别,多轮对话,知识图谱">
    <meta name="description" content="桂林电子科技大学是国内领先的自然语言处理专家，为企业提供智能客服、聊天机器人、文本挖掘、知识图谱、个性化推荐、垂直搜索等人工智能服务。桂林电子科技大学推出全栈式文本处理功能，智能客服，聊天机器人，文本审核等，帮助企业提升运营效率和经营业绩。">
    <!-- 使用url函数转换相关路径 css path-->
    <!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css')}}"/> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}"/>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-hover-dropdown/2.2.1/bootstrap-hover-dropdown.min.js" type="text/javascript"></script>

    <!-- 通过自有函数输出HTML头部信息 -->
     <meta name="description" content="智能问答" />
<link rel="alternate" type="application/rss+xml" title="智能问答 &raquo; 桂林电子科技大学 &raquo; RSS 2.0" href="factual_qa" />
<link rel="alternate" type="application/rdf+xml" title="智能问答 &raquo; 桂林电子科技大学 &raquo; RSS 1.0" href="factual_qa" />
<link rel="alternate" type="application/atom+xml" title="智能问答 &raquo; 桂林电子科技大学 &raquo; ATOM 1.0" href="factual_qa" />
<script type="text/javascript">
(function () {
    window.TypechoComment = {
        dom : function (id) {
            return document.getElementById(id);
        },

        create : function (tag, attr) {
            var el = document.createElement(tag);

            for (var key in attr) {
                el.setAttribute(key, attr[key]);
            }

            return el;
        },

        reply : function (cid, coid) {
            var comment = this.dom(cid), parent = comment.parentNode,
                response = this.dom('respond-page-10'), input = this.dom('comment-parent'),
                form = 'form' == response.tagName ? response : response.getElementsByTagName('form')[0],
                textarea = response.getElementsByTagName('textarea')[0];

            if (null == input) {
                input = this.create('input', {
                    'type' : 'hidden',
                    'name' : 'parent',
                    'id'   : 'comment-parent'
                });

                form.appendChild(input);
            }

            input.setAttribute('value', coid);

            if (null == this.dom('comment-form-place-holder')) {
                var holder = this.create('div', {
                    'id' : 'comment-form-place-holder'
                });

                response.parentNode.insertBefore(holder, response);
            }

            comment.appendChild(response);
            this.dom('cancel-comment-reply-link').style.display = '';

            if (null != textarea && 'text' == textarea.name) {
                textarea.focus();
            }

            return false;
        },

        cancelReply : function () {
            var response = this.dom('respond-page-10'),
            holder = this.dom('comment-form-place-holder'), input = this.dom('comment-parent');

            if (null != input) {
                input.parentNode.removeChild(input);
            }

            if (null == holder) {
                return true;
            }

            this.dom('cancel-comment-reply-link').style.display = 'none';
            holder.parentNode.insertBefore(response, holder);
            return false;
        }
    };
})();
</script>
<script type="text/javascript">
(function () {
    var event = document.addEventListener ? {
        add: 'addEventListener',
        triggers: ['scroll', 'mousemove', 'keyup', 'touchstart'],
        load: 'DOMContentLoaded'
    } : {
        add: 'attachEvent',
        triggers: ['onfocus', 'onmousemove', 'onkeyup', 'ontouchstart'],
        load: 'onload'
    }, added = false;

    document[event.add](event.load, function () {
        var r = document.getElementById('respond-page-10'),
            input = document.createElement('input');
        input.type = 'hidden';
        input.name = '_';
        input.value = (function () {
    var _ogvc = //'AH'
'e'+//'nmd'
'2'+'9d'//'oJ'
+'98b'//'nK4'
+'0'//'yn'
+'Qg'//'Qg'
+'7b'//'pb'
+//'y'
'4'+'5ad'//'nEy'
+//'Xq'
'7'+//'cv7'
'cv7'+//'3'
'77'+//'mZ'
'773'+//'k'
'a1'+'99b'//'1'
+'7'//'Y'
+//'T'
'a48'+'d52'//'uU6'
, _H2tm5 = [[8,10],[15,18]];

    for (var i = 0; i < _H2tm5.length; i ++) {
        _ogvc = _ogvc.substring(0, _H2tm5[i][0]) + _ogvc.substring(_H2tm5[i][1]);
    }

    return _ogvc;
})();

        if (null != r) {
            var forms = r.getElementsByTagName('form');
            if (forms.length > 0) {
                function append() {
                    if (!added) {
                        forms[0].appendChild(input);
                        added = true;
                    }
                }

                for (var i = 0; i < event.triggers.length; i ++) {
                    var trigger = event.triggers[i];
                    document[event.add](trigger, append);
                    window[event.add](trigger, append);
                }
            }
        }
    });
})();
</script>
</head>


<body>


    <!--导航-->
    {% include 'root/nav.html' %}
    <!--导航 end-->


    <link rel="stylesheet" href="{{url_for('static', filename='css/online.css')}}">

    <script src="{{url_for('static', filename='js/VIS/dist/vis.js')}}" type="text/javascript"></script>
    <link rel="stylesheet" href="{{url_for('static', filename='js/VIS/dist/vis.css')}}">

    <div id="superContainer">
        <div class="container" id="mod">
            <div class="row">
                <div class="col-xs-12 text-center">
                    <p class="title">知识图谱</p>
                </div>
                <div class="col-xs-12">
                    <p class="mod_col_title">请输入想构建的文本：
                    </p>
                </div>
                <div class="col-xs-12">
                    <div class="analysis_wrap">
                        <div class="analysis_content ">
                            <textarea class="txt" name="" id="input_sec2_1"></textarea>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 text-center">
                    <button type="button" id="btn" data-loading-text="Loading..." class="btn btn-primary btn-lg" onclick="startAnalysis()">开始构建</button>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="main-title">
                <span class="dot-line-gray"></span>
                <span class="title">搜索结果</span>
                <a href="grap">aaaaaaaaaaaaaaaaaaaaaa</a>
            </div>
        </div>
    </div>

    <script src="{{url_for('static', filename='js/grapher.js')}}" type="text/javascript"></script>
    <script>

    </script>







    <!--脚部-->
        {% include 'root/footer.html' %}
    <!--脚部 end-->
</body>
</html>